body {
margin-left: 50px;
}

#texto1 {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-family: inherit;

}

#vertical {
    width: 100px;   
    display: inline-block;
}


hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 3px;
    width: 100%;
   
}

footer {
    background-color: #FFCC29;
    position:absolute;
    font-family: inherit;
}